@using TodoWithDatabase.Models.DAOs;
@using TodoWithDatabase.Models.DAOs.JoinTables;
@using System.Linq;

@{
    Layout = "_userLayout";
}
@{var project = (Project)ViewData["project"];
    <ul class="project">
        <li class="title">Title: @project.Title</li>
        <li class="descripton">Description: @project.Description</li>
        <li class="assignees">
            <p>Responsibles:</p>
            <ul>
                @foreach (AssigneeProject assigneeProject in project.AssigneeProjects)
                {
                    <li>@assigneeProject.Assignee.UserName</li>
                }
            </ul>
        </li>
        <li class="cardsInColumns">Cards:
            <div class="cardsNotDone">
                <p>To do:</p>
                <a href="users/projects/@project.Id/cards/createCard">Create new card</a>
                @{ foreach (Card card in project.Cards.Where(c => !c.Done))
                    {
                        <ul class="card">
                            <li>Title: @card.Title</li>
                            <li>Description: @card.Description</li>
                            <li>Deadline: @card.Deadline</li>
                            <li class="assignees">
                                <p>Responsibles: </p>
                                <ul>
                                    @foreach (AssigneeCard assigneeCard in card.AssigneeCards)
                                    {
                                        <li>@assigneeCard.Assignee.UserName</li>
                                    }
                                </ul>
                            </li>
                            <li>
                                <a href="users/projects/@project.Id/cards/@card.Id/switchDone">Mark as done</a>
                            </li>
                        </ul>
                    }
                }
            </div>
            <div class="cardsDone">
                <p>Done:</p>
                @{ foreach (Card card in project.Cards.Where(c => !c.Done))
                   {
                        <ul class="card">
                            <li>Title: @card.Title</li>
                            <li>Description: @card.Description</li>
                            <li>Deadline: @card.Deadline</li>
                            <li class="assignees">
                              <p>Responsibles: </p>
                                <ul>
                                    @foreach (AssigneeCard assigneeCard in card.AssigneeCards)
                                     {
                                         <li>@assigneeCard.Assignee.UserName</li>
                                     }
                                </ul>
                            </li>
                            <li>
                                <a href="users/projects/@project.Id/cards/@card.Id/switchDone">Mark as not done</a>
                            </li>
                        </ul>
                   }
                 }
            </div>
        </li>
    </ul>
}